@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #9e8f8f;
    overflow-x: hidden;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c5b6b6;
    height: 86px;
    position: sticky;
    top: 0px;
    z-index: 1;
}
#links{
    display: flex;
    margin-right: 50px;
}
.link{
    color: #f9f6f6;
    text-decoration: none;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    font-family: Montserrat;
    margin-inline: 25px;
}
nav>p{
    font-weight: 700;
font-size: 32px;
line-height: 39px;
letter-spacing: 0em;
font-family: Montserrat;
margin-left: 60px;
}
#intro{
    color: white;
    display: flex;
    padding: 10px;
    /* width: 100%; */
    justify-content: space-around;
    margin-top: 90px;
    align-items: center;
}
#introdiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 80%;
}
#introdiv{
    margin-left: 47px;
}
#introdiv>h1{
    font-weight: 700;
    font-size: 62px;
    font-family:  Montserrat;
    margin-bottom: 20px;
    text-shadow: 7px 0px 5px rgb(17, 0, 255);
}
#introdiv>p{
    font-family:  Montserrat;
    font-size: 26px;
    margin-bottom: 40px;
}
#introdiv>button{
 width: 323px;
 height: 66px;
 border-radius: 500px;
 background-color: #115f6f;
 color: #e4dada;
}
#introdiv>button>p{
    font-family: Montserrat;
font-size: 32px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
}
#contactus{
    color: rgb(215, 207, 207);
    font-family: Montserrat;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 100px;
    margin-right: 26px;
}
#contactus>h1{
    font-size: 64px;
    color: #faf7f7;
    margin-left: 60px;
}
::placeholder{
    font-family: Montserrat;
    color: #e6e1e1;
    font-size: 28px;
}
.inputs{
    border: 1px solid #060606;
    border-radius: 300px;
    color: white;
    font-family: Montserrat;
    font-size: 28px;
    padding-left: 50px;
    height: 60px;
    width: 90%;
    margin: 30px;
    margin-left: 60px;
    background-color: #093e30;
    outline: none;
}
.mininp{
    width: 40.3%;
}
#formbutt{
        margin-top: 30px;
        margin-left: 610px;
        height:82px;
        width: 345px;
        background-color: rgb(131, 38, 123);
        border-radius: 300px;
}
#formbutt>p{
    font-family: Montserrat;
font-size: 32px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
}
#table{
    margin:50px;
    margin-top: 110px;
    margin-left: 75px;
    margin-bottom: 100px;
}
#table>table{
    border: 1px solid #0c0c0c;
    border-collapse: collapse;
    background-color: #f3ecec;
    color: #3408f8;
    width: 98%;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 10px;
}
#table>table>tbody td{
    border-right: 2px solid #100f0f ;
    padding-left: 50px;
    height: 85px;
}
#table>table th{
    border-right: 2px solid #0b0b0b ;
    border-bottom: 2px solid #111212 ;
    height: 40px;
    background-color: rgb(174, 183, 184);
    color: #000000;
    font-size: 30px;
    font-weight: bold;
}
#table>table>tfoot td{
    background-color: #0b07079e;
    color: #a69f9f;
    height: 78px;
    padding-left: 50px;
    border-right: 2px solid #000000 ;
    font-weight: 400;
}
#th1{
width: 8%;
padding: 25px;
font-weight: 400;
}
#th2{
 width: 33%;
 padding-left: 33px;
 font-weight: 400;
}
#th3{
 width: 59%;
 font-weight: 400;
 padding-left: 47px;
}
#table>table>tfoot>tr>#foot1{
    padding-left: 40px;;
}
#table>table>tfoot>tr>#foot2{
    border-right: 2px solid #106f36;
}
#table>table>tbody>tr:nth-child(1)>td{
    padding-top: 29px;
}
#table>table>tbody>tr:nth-child(6)>td{
    padding-bottom: 38px;
}
